body{
    
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    /* background-image: url("covid19Img.jpg"); */
}
nav{
    display: flex;
    background-color: teal;
    opacity: 1;
    margin-top: 0;
    width: auto;
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;

}
#nav_logo{
    display: flex;
    font-size: 30px;
    color: maroon;

}
#nav_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    margin-right: 2em;
}
ul{
  list-style-type: none; 
}
li{ display: inline;
    padding: 0.5em;
    border: 0px;
}

a{
    text-decoration: none;
    color: mintcream;
    background-color: yellowgreen;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    

}
/* #covid_img{
    background-color: navy;
    opacity: 0.5;
    width: 20%;
    border-radius: 50%;
} */
img{
    border-radius: 100%;
    width: 50px;
}

h1{
    margin-top: 0;
    
}

.container{
    display: grid;
    /* create two rows of width200px and 150px each and auto column  */
    /* grid: 200px 150px / auto auto; */
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    justify-content: center;
    margin-top: 5em;
    height: auto;
    font-size: 30px;
    line-height: 2;
    /* align-items: center; */
    
    
}

#total_cases{
    display: flex;
    align-items: center;
    background-color: yellow;
    border-radius: 1em;
    justify-content: center;
    height: 10em;
}
#recoveries{
    display: flex;
    background-color: limegreen;
    align-items: center;
    border-radius: 1em;
    justify-content: center;
    
}
#critical{
    display: flex;
    background-color: maroon;
    align-items: center;
    border-radius: 1em;
    justify-content: center;
    height: 10em;
    
}
#deaths{
    display: flex;
    background-color: red;
    align-items: center;
    border-radius: 1em;
    justify-content: center;
}
footer{
    display: flex;
    background-color: teal;
    margin-top: 10em;
    height: 5em;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* set break point  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}