body{
    
    /* position: static; */
    
    background-color: cadetblue;
    color: whitesmoke;
    /* opacity: 2; */
    display: flex;
    flex-direction: column;
}
nav{

    display: flex;
    background-color: teal;
    opacity: 1;
    margin-top: 0;
    width: auto;
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;

}
#nav_logo{
    display: flex;
    font-size: 30px;
    color: maroon;

}
#nav_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    margin-right: 2em;
}
ul{
  list-style-type: none; 
}
li{ display: inline;
    padding: 0.5em;
    border: 0px;
}

li a{
    text-decoration: none;
    color: mintcream;
    background-color: yellowgreen;
    padding: 5px;
    border: 0px;
    border-radius: 10px;
    
    

}

img{
    border-radius: 100%;
    width: 50px;
}

h1{
    margin-top: 0;
    
}
.intro{
    margin-top: 2em;
    line-height: 2;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 20px;
}
.main_container{
    display: flex;
    padding: 1em;
    margin-bottom: 2em;
}

article{
    font-size: 20px;
    line-height: 2;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    justify-content: center;
    margin-top: 2em;
    height: auto;
    font-size: 30px;
    line-height: 2;
    width: 70%;
    
  
  
}

#total_cases{
    display: flex;
    align-items: center;
    background-color: yellow;
    border-radius: 1em;
    justify-content: center;
    height: 10em;
    margin-left: 2em;
    color: black;
    padding: 1em;
}
#recoveries{
    display: flex;
    background-color: limegreen;
    align-items: center;
    border-radius: 1em;
    justify-content: center;
    margin-left: 2em;
    padding: 1em;
    
}
#critical{
    display: flex;
    background-color: maroon;
    align-items: center;
    border-radius: 1em;
    justify-content: center;
    height: 10em;
    margin-left: 2em;
    padding: 1em;
    
}
#deaths{
    display: flex;
    background-color: red;
    align-items: center;
    border-radius: 1em;
    justify-content: center;
    margin-left: 2em;
    padding: 1em;
}
[id ^='figures']{
    background-color: white;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
}
#note{
    /* margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em; */
    margin: 2em;
    font-size: 20px;
    line-height: 2;
}
footer{
    display: flex;
    background-color: teal;
    /* margin-top: 10em; */
    height: 5em;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 0;

}

/* set break point  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav{
    
        display: flex;
        background-color: teal;
        opacity: 1;
        margin-top: 0;
        width: auto;
        padding: 0.2em;
        align-items: center;
        justify-content: space-between;
    
    }
    #nav_logo{
        display: flex;
        font-size: 12px;
        color: maroon;
    
    }
    #nav_links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0.5em;
        margin-right: 0.5em;
    }
    ul{
      list-style-type: none; 
    }
    li{ display: inline;
        padding: 0.2em;
        border: 0px;
    }
    
    li a{
        text-decoration: none;
        color: mintcream;
        background-color: yellowgreen;
        padding: 2px;
        border: 0px;
        border-radius: 5px;
        
    
    }
    
    img{
        border-radius: 100%;
        width: 20px;
    }
    
    h1{
        margin-top: 0;
        
    }
    .intro{
        margin-top: 0.5em;
        /* line-height: 2; */
        margin-left: 0.5em;
        font-size: 12px;
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0.5em;
        grid-column-gap: 0.5em;
        justify-content: center;
        margin-top: 0.5em;
        height: auto;
        font-size: 12px;
        /* line-height: 2; */
      
      
    }
    
    #total_cases{
        display: flex;
        align-items: center;
        background-color: yellow;
        border-radius: 1em;
        justify-content: center;
        height: 5em;
    }
    #recoveries{
        display: flex;
        background-color: limegreen;
        align-items: center;
        border-radius: 0.5em;
        justify-content: center;
        
    }
    #critical{
        display: flex;
        background-color: maroon;
        align-items: center;
        border-radius: 0.5em;
        justify-content: center;
        height: 5em;
        
    }
    #deaths{
        display: flex;
        background-color: red;
        align-items: center;
        border-radius: 0.5em;
        justify-content: center;
    }
    [id ^='figures']{
        background-color: white;
        border: 1px thin black;
        border-radius: 5px;
        padding: 2px;
    }
    #note{
        margin-top: 0.5em;
        font-size: 12px;
        /* line-height: 2; */
    }
    footer{
        display: flex;
        background-color: teal;
        margin-top: 5em;
        height: 2em;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}